@charset "utf-8";

/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{color:#333;font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',sans-serif;font-size:13px;line-height:1}
img,fieldset{border:0}
ul,ol,dl,li{list-style:none}
em,address{font-style:normal}
a{color:#333;text-decoration:none;outline:none}
a:hover,a:active,a:focus{text-decoration:none}
img{vertical-align:top}
table{width:100%;border-collapse:collapse;border-spacing:0}
table th{font-weight:400}
hr{display:none}
h1,h2,h3,h4,h5,h6,strong{font-weight:inherit}
button{overflow:visible;border:0;background:transparent;cursor:pointer;white-space:nowrap;outline:none}
button::-moz-focus-inner{padding:0;border:0}
button span{position:relative}
.blind{overflow:hidden;position:absolute;top:-99rem;left:0px;width:1px;height:1px;border:0;font-size:0;line-height:0;white-space:nowrap}
select,input{outline:none}
label{cursor:pointer}

/* common */
html,body,#wrap{width:100%;height:100%}
#wrap{position:relative}
#container{position:relative;min-width:1130px;padding:80px 0 0 150px}
.content{padding:20px}
.content:after{display:block;clear:both;content:''}

/* table */
.tbl_wrap{margin:10px 0}
.tbl_wrap.m20{margin:20px 0}
.tbl_wrap.fst{margin-top:0}
.tbl_wrap.nomarg{margin:0}
.tbl_wrap.fix{display:inline-block}
.tbl_wrap.hanson_full{overflow:auto;min-height:500px;margin:0}
.tbl_wrap.scroll{overflow:auto}
.tbl_wrap .scroll{overflow:auto}
.tbl_wrap.nobor th,.tbl_wrap.nobor td{border:0}

.tbl_wrap .tbl_field{display:inline-block}
.tbl_wrap .tbl_field .field_box{margin-bottom:10px}

.tbl_wrap .tbl_fixed{width:auto;table-layout:fixed}
.tbl_wrap .tbl_fixed .td_inr{overflow:hidden;width:100%;height:100%;text-overflow:ellipsis;word-wrap:break-word;word-break:keep-all}
.tbl_wrap .odd tr:nth-child(odd){background:#e7f2ff}
.tbl_wrap .even tr:nth-child(even){background:#e7f2ff}
.tbl_wrap .hide{display:none}
.tbl_wrap th,.tbl_wrap td{padding:8px;border:1px solid #ebedf2;color:#575962;line-height:1rem;text-align:left}
.tbl_wrap .under, .tbl_wrap input[readonly]{color:#575962}
.tbl_wrap th, .tbl_wrap tfoot td{background:#f4f5f8}
.tbl_wrap td{font-size:12px}
/* .tbl_wrap .td_inr{overflow:hidden;width:100%;height:100%;text-overflow:ellipsis;word-wrap:break-word;word-break:keep-all} */
/* .tbl_wrap .td_inr{word-break:break-all} */
.tbl_wrap .nodata td{padding:20px 0;text-align:center}
.tbl_wrap .col_red td{color:#F4516C}
.tbl_wrap .col_blue td{color:#36A3F7}
.tbl_wrap .col_green td{color:#4CC0A5}
.tbl_wrap .col_gray td{color:#8f929e}
.tbl_wrap .col_red{color:#F4516C}
.tbl_wrap .col_blue{color:#36A3F7}
.tbl_wrap .col_green{color:#4CC0A5}
.tbl_wrap .col_gray{color:#8f929e}
/* .tbl_wrap td.col_red{color:#F4516C} */
.tbl_wrap .vert{vertical-align:top}
.tbl_wrap .cent{text-align:center}
.tbl_wrap .cent .left{text-align:left}
.tbl_wrap .cent .right{text-align:right}
.tbl_wrap .cent th,.tbl_wrap .cent td{text-align:center}
.tbl_wrap .right th,.tbl_wrap .right td{text-align:right}
.tbl_wrap .right{text-align:right}
.tbl_wrap .right .cent{text-align:center}
.tbl_wrap .right .left{text-align:left}
.tbl_wrap .bold{font-weight:bold}
.tbl_wrap .large{font-size:20px}
.tbl_wrap .bold th,.tbl_wrap .bold td{font-weight:bold}
.tbl_wrap .large th,.tbl_wrap .large td{font-size:20px}
.tbl_wrap .pointer_rows tr{cursor:pointer}
.tbl_wrap .pointer{cursor:pointer}
.tbl_wrap .bg_red{background:#F4516C;color:#fff}
.tbl_wrap .bg_red td{color:#fff}
/* .tbl_wrap .bg_red td{border:0;border-left:1px solid #c6374f;border-top:1px solid #f4f5f8;color:#fff}
.tbl_wrap .bg_red .td_chk{border-left:1px solid #f4f5f8;background:#fff} */
.tbl_wrap .bg_yellow{background:#fff4dd}
.tbl_wrap .bg_yellow td{background:#fff4dd}
.tbl_wrap .bg_orange{background:#f28241;color:#fff}
.tbl_wrap .bg_orange td{color:#fff}
.tbl_wrap .bg_gray{background:#f4f5f8}
.tbl_wrap .bg_gray td{background:#f4f5f8}
/* .tbl_wrap .bg_gray2{background:#ededef}
.tbl_wrap .bg_gray2 td{background:#ededef} */
.tbl_wrap .bg_blue{background:#e7f2ff}
.tbl_wrap .bg_blue td{background:#e7f2ff}
.tbl_wrap .bg_pink{background:#ffe4d4}
.tbl_wrap .bg_pink td{background:#ffe4d4}
.tbl_wrap .bg_green{background:#0abb87;color:#fff}
.tbl_wrap .bg_green td{color:#fff}

.tbl_wrap .remove td{color:#ccc;text-decoration:line-through}
.tbl_wrap .remove .not_remove{display:inline-block;color:#575962;text-decoration:none}
.tbl_wrap td.remove{color:#ccc;text-decoration:line-through}

.tbl_wrap .td_chk .td_inr{width:16px;height:16px;margin:0 auto}
.tbl_wrap .td_chk .lb_box{width:2px;height:16px}

.tbl_wrap .btn_base{min-width:auto;padding:5px 8px;vertical-align:baseline}
.tbl_wrap input[type="text"]+.btn_base{min-width:auto;padding:7px 13px;vertical-align:top}
/* .tbl_wrap .btn_base.baseline{vertical-align:baseline} */
.tbl_wrap .txt_inp{display:inline-block;margin:7px 0 0 8px}
.tbl_wrap .txt_inp.v1{display:inline-block;margin:7px 8px 0 0}
.tbl_wrap .txt_small{display:inline-block;margin:5px 5px 0 0}
.tbl_wrap .txt_under{margin-top:5px}

.tbl_wrap .txtarea{width:100%}
.tbl_wrap .inp_txt{width:200px}
.tbl_wrap .inp_full{width:100%}

/* table list */
/* .tbl_wrap.list{overflow:auto} - ie에서 스크롤 생기는 문제 때문에 삭제 */	
.tbl_wrap.list.scroll{overflow:auto}
.tbl_wrap.list th,.tbl_wrap.list td{padding:4px;text-align:center}
.tbl_wrap.list .left{text-align:left}
.tbl_wrap.list .right{text-align:right}
.tbl_wrap.list .thumb{width:50px;height:50px}
.tbl_wrap.list .nodata td{padding:20px 0;text-align:center}
.tbl_wrap.list.hanson_full{overflow:auto;height:700px;margin:0}
.tbl_wrap.list.hanson_full th{padding:0}

/* table write */
.tbl_wrap.write th,.tbl_wrap.write td{height:25px;padding:6px 15px;border:0}
.tbl_wrap.write th{background:none}
.tbl_wrap.write .nodata{padding:20px 0;text-align:center}
.tbl_wrap.write .align_list .lb_box{margin-top:0}
.tbl_wrap.write .txt{display:inline-block;margin-top:6px}
.tbl_wrap.write .txt.v1{margin-left:5px}
/* .tbl_wrap.write input[type="text"]{width:85%} */
/* .tbl_wrap.write select{width:85%} */
/* .tbl_wrap.write .wd50{width:50%} */
/* .tbl_wrap.write .sel_list{display:inline-block;width:85%}
.tbl_wrap.write .sel_list:after{display:block;clear:both;content:''}
.tbl_wrap.write .sel_list>li{float:left;width:50%}
.tbl_wrap.write .sel_list>li:first-child .sel_box{margin-right:3px}
.tbl_wrap.write .sel_list>li:last-child .sel_box{margin-left:3px}
.tbl_wrap.write .sel_list .sel_box input[type="text"]{width:100%}
.tbl_wrap.write .sel_list select{width:100%}
.tbl_wrap.write button.btn_base.s1{width:115px}
.tbl_wrap.write a.btn_base.s1{width:115px} */

/* table view */
.tbl_wrap.view.tit th,.tbl_wrap.view.tit td{font-size:16px}
/* .tbl_wrap.view .total{color:#F4516C} */
.tbl_wrap.view .nodata{padding:20px 0;text-align:center}

/* inner tbl */
.tbl_wrap.write .tbl_wrap.inr th,.tbl_wrap.write .tbl_wrap.inr td{padding:8px;border:1px solid #ebedf2;color:#575962;line-height:1rem;text-align:left}
.tbl_wrap.write .tbl_wrap.inr th{background:#f4f5f8}
.tbl_wrap.write .tbl_wrap.inr td{font-size:12px}
.tbl_wrap.write .tbl_wrap.list.inr th,.tbl_wrap.write .tbl_wrap.list.inr td{padding:4px;text-align:center}

/* 테이블 헤더 필터 */
.tbl_wrap .filter{position:relative}
/* .tbl_wrap .btn_filter{display:block;position:relative;width:100%;height:100%;outline:none}
.tbl_wrap .btn_filter .filt_txt{display:block;padding-right:8px;line-height:1.3em} */
.tbl_wrap .btn_filter{display:block;position:relative;margin:0 auto;outline:none}
.tbl_wrap .btn_filter .filt_txt{display:block;padding-right:12px;line-height:1.3em}
/* .tbl_wrap .filter .filt_box{display:none;overflow:auto;position:absolute;top:0;left:0;z-index:10;width:150px;max-height:200px;padding:5px;border:1px solid #94989f;background:#fff} */
.tbl_wrap .filter .filt_box{display:none;overflow:auto;position:absolute;top:0;left:50%;z-index:10;width:150px;max-height:200px;margin-left:-75px;padding:5px;border:1px solid #94989f;background:#fff}
.tbl_wrap .filter .filt_box.on{display:block}
.tbl_wrap .filter .filt_list li{margin-top:5px;text-align:left}
.tbl_wrap .filter .filt_list li:first-child{margin:0}
/* .tbl_wrap .filter .filt_box .txt_label{width:129px} */
.tbl_wrap .filter .ico_arrow.tri{position:absolute;top:50%;right:0;margin-top:-3px}